.navbar {
    width: 100vw;
}

.navbar nav div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    color: white;
    background-color: rgba(255, 255, 255, 0.15);
}

.navbar nav button {
    padding: .1rem 1rem;
    line-height: 0;
    height: 40px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid white;
    background: none;
    color: white;
    cursor: pointer;
    background-color: rgba(245, 222, 179, 0.297);
    margin-bottom: 0;
    width: max-content;
}

.navbar nav div:nth-of-type(1) {
    padding: 1rem 5vw 0.5rem;
}

.navbar nav div:nth-of-type(2) button {
    width: 90vw;
    margin: auto;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 1rem;
}

.navbar h2 {
        font-size: 16px !important;
    }

@media screen and (max-width : 300px) {
    
}
