.user {
    color: whitesmoke;
    margin-bottom: 25vh;
}

.user div:nth-of-type(1) {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

.user div img {
    padding: 1rem;
    width: 90vw;
    border-radius: 5px;
    background-color: rgba(245, 222, 179, 0.297);
    margin: auto;
}

.user a {
    font-size: 16px;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: whitesmoke;
    text-decoration: none;
    font-weight: 600;
    background-color: rgba(245, 222, 179, 0.297);
}

.user div {
    width: 90vw;
    margin: auto;
}

.user h6 {
    padding: 1rem;
    width: 100%;
    border-radius: 5px;
    background-color: rgba(245, 222, 179, 0.297);
}