.newuser form, .newuser form div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.newuser {
    width: 90vw;
    margin: auto;
    color: white;
    margin-bottom: 25vh;
}

.newuser h2 {
    text-decoration: underline;
}

.gender input {
    width: fit-content !important;
    margin-top: 8px;
    margin-right: 2%;
}

.gender label {
    width: fit-content !important;
    margin-right: 20%;
}

.gender label:nth-of-type(1) {
    width: 90vw !important;
}

.newuser img {
    margin-bottom: 5%;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: rgba(245, 222, 179, 0.3);
    width: 50vw;
}

@media screen and (max-width : 300px) {
    .gender label:nth-of-type(2), .gender label:nth-of-type(3) {
        font-size: 14px;
    }
    .gender input {
        margin-top: 4.5px;
    }
}

.toast {
    margin: 2vh 0 !important;
}

.addBtn img {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 222, 173, 0.009);
}